.hero-bg {
    position: absolute;
    top: -5%; left: -5%; width: 110%; height: 110%;
    background: url('../assets/images/hero-bg.jpg') center/cover;
    filter: brightness(0.95) contrast(1.05);
    z-index: -2;
}

.universe-bg {
    position: absolute;
    top: -5%; left: -5%; width: 110%; height: 110%;
    background: url('../assets/images/univers01.png') center/cover !important;
    filter: brightness(0.4) contrast(1.05);
    z-index: -2;
}

.author-bg {
    position: absolute;
    top: -5%; left: -5%; width: 110%; height: 110%;
    background: url('../assets/images/author-bg.jpg') center/cover;
    filter: brightness(0.4) contrast(1.05);
    z-index: -2;
}
